.thumb > img{
    width: 100%;
    height: 178px;
}

figure{
    height: 348px;
}

.accordion-container > .one_third > img{
    width: 192px;
    height: 105px;
	display: block;
    margin: 0px auto;
}

.contact ul li{
    padding-top:10px;
}
.contact ul li:first-child{
    padding-top: 0px;
}

.logo > a > img{
    height: 51px;
}

#header{
    height: 109px;
}

.breadcrumbs{
    margin: 0px;
    padding:30px 0px;
}
.breadcrumbs p{
    margin-bottom: 0px;
}
.pro_pages{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.pro_pages > ul{
    float: right;
}
.pro_pages > ul > li{
    float:left;
    font-size: 20px;
    padding-right: 20px;
}

.pro_pages > ul > li > a{
  color: #444;
}
.pro_pages > ul > .active{
    color: #dbcab6;
}

/**************menu**************/
.sf-menu li > ul{
    border-top:0px;
    width: 300px;
}
.search_box{
    padding-top: 35px;
    padding-left:40px;
}
.search_p {
    float: left;
    width: 65%;
    overflow: hidden;
}
.search_p input{
    padding:10px;
    border: 0px !important;
    margin: 0px;
}
.search_b{
    height:34px;
    line-height: 34px;
    float: left;
    width: 30%;
    background-color: #f07272;
    border: 0px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}
.search_b:hover{
    color: #3a312a;
}

/***************index***************/
.flexslider > ul > li > a > img{
    height: 500px;
    width:100%;
}
.latest figure{
    border: 0px;
}
/***************product***************/
.product_box{
    display: inline-block;
    width: 100%;
    padding: 40px 0px 0px 0px;
}
.product_box_item{
    width: 31% ;
    margin: 0px 1% 5% 1%;
    float:left;
    transition: all 0.2s;
    overflow: hidden;
    border: 1px solid rgba(240, 222, 200, 0.8);
}
.product_box_item:hover{
    box-shadow: 0 0 5px 2px #dddddd;
}

.product_box_item a{
    display: block;
    height: 200px;
}
.product_box_item_img {
    width: 100%;
    height: 200px;
}
.product_box_item_img img{
    width: 100%;
    height: 100%;
}

.product_box_item_tit{
    background-color: #2d2215;
    opacity: 0.9;
    padding-top:100px;
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    transition: all 0.2s;
    height: 200px;
}
.product_box_item_tit_active{
    margin-top: -200px;
}
.product_box_item_tit span{
    width:100%;
}
.product_box_item_tit > .en >span{
    font-size: 20px;
    color: #fbe6cb;
}
.product_box_item_tit > .ch >span{
    font-size: 15px;
    color: #fbe6cb;
}



/***************project***************/
.prj_box{
    display: inline-block;
    width: 100%;
}

.prj_contact_button{
    margin-top: 30px;
}

.prj_contact_button button{
    cursor:pointer;
    color: white;
    font-size: 18px;
    transition: all 0.2s;
    background-color: #f07272;
    border: 0px;
    padding: 15px 50px;
    display: block;
    margin: 0px auto;
}
.sku-cutline{
    margin-top: 27px;
    margin-bottom: 18px;
    border-style: dashed;
}

.prj_contact_button button:hover{
    color: #3a312a;
}


.prj_top_box{
    margin-top:40px;
    background-color: white;
    box-shadow: 0px 0px 10px #e0e0e0;
    width: 920px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    padding: 20px;
}

.prj_image{
    width: 47%;
    height: 100%;
    float:left;
}

.prj_image img{
    width: 100%;
    height: 350px;
}
.prj_des{
    width: 50%;
    float:right;
}
.prj_tit{
    word-break: break-all;
    display: inline-block;
    max-height: 110px;
    overflow: hidden;
}
.prj_tit > h2 {
    color: #261b0d;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
.prj_tit > h3 {
    font-size: 22px;
    color: #666;
    line-height: 28px;
    position: relative;
    top: -33px;
    font-weight: 300;
    margin-bottom: 0px;
}

.prj_classify{
    background-color: #f8f8f8;
    padding: 20px;
}
.prj_classify span{
    font-size: 18px;
}

.prj_footer_top span{
    font-size: 16px;
}
.prj_footer_top p{
    margin-top: 10px;
    color: #999;
}


.prj_bottom_box{
    margin: 40px 0px;
    background-color: white;
    padding:20px;
}

.prj_param_tag{
    height: 50px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.87);
}
.prj_param_tag span{
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #fbe6cb;
}

.prj_param{
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    padding:40px 0px;
}